


.logged-in-user {
    text-align: center;
    margin-top: 10px;
}



.site-header {
    background-color: rgb(28, 25, 120);
    color: white;
    text-align: center;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-title {
    font-size: 40px;
    margin: 0;
    padding-left: 200px; 
    
}

.site-navigation ul {
    list-style: none;
    padding: 0;
    
}

.site-navigation ul li {
    display: inline;
    margin-right: 10px;
}

.site-navigation ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 40px; 
    background-color: rgb(10, 27, 181); 
    border-style: outset;
    transition: background-color 0.3s ease; 
}

.site-navigation ul li a:hover {
    background-color: rgb(5, 118, 255); 
}


.main-content {
    text-align: center; 
    
    margin-left: 200px;    
}

.centered-image {
    display: inline-block; 
    margin: 0 auto;


    max-width: 100%; 
    height: auto; 
}

.footer-text, footer p  {
    text-align: center;
    margin-top: 20px; 
}

.footer-divider {
    width: 95%;
    margin: 50 auto; 
    border-top: 1px solid #00000062; 
    margin-top: 50px;
}

/*....................................login...................................*/


.login-container {
    width: 300px;
    margin: 20px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.h2-center{
    text-align: center;
    color: rgb(28, 25, 120);
    margin-left: 200px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    cursor: pointer;
}

.login-button:hover {
    background-color: rgb(200, 200, 206);
}

/* .............................................Dashboard page........................... */

/* Remade from selector ".site-navigation" */

.side-navigation {
    width: 200px;
    float: left;
    margin-right: 20px;
}

.side-navigation ul {
    list-style: none;
    padding: 0;
}

.side-navigation ul li {
    margin-bottom: 10px;
}

.side-navigation ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(10, 27, 181); 
    border-style: outset;
    transition: background-color 0.3s ease; 
}

.side-navigation ul li a:hover {
    background-color: rgb(5, 118, 255); 
}





/* ..........................form add user............................. */


.success-message {
    text-align: center;
    font-weight: bold;
    color: green; 
    margin-top: 10px;
}




.register-container {
    width: 50%; 
    margin: 0 auto; 
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.register-button {
    width: 10%;
    padding: 10px;
    background-color: rgb(38, 56, 136);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: rgb(111, 140, 178);
}



/* ................................delete users............................................. */

.success-message {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.delete-form {
    text-align: center;
    margin-top: 20px;
}

.delete-form button {
    margin: 0 10px; 
}




/* .........................Edit users....................................................... */


.success-message {
    color: green;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.register-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-button:hover {
    background-color: darkblue;
}



/* .................................manage users....................................... */



.centered-user-message {
    text-align: center;
    margin-top: 10px;
}



.main-content {
    text-align: center;
}

.users-table {
    margin: 0 auto; 
    border-collapse: collapse;
    width: 80%; 
}

.users-table th, .users-table td {
    border: 1px solid #000; 
    padding: 8px; 
    text-align: left; 
}

.users-table th {
    background-color: rgb(86, 86, 250); 
    color: white; 
}

.users-table td {
    background-color: white; 
}

.users-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
